/* row-1 css is start */
*{
    padding: 0;
    margin: 0;
}
#row1{
background-color: #35363A;
height: 30px;
width: 100%;
}
.top-section{
    width: 90%;
    margin: 0 auto;
}
.left-links{
    width: 60%;
    float: left;
    height: 100%;
}
.left-links ul{}
.left-links ul li{
    float: left;
    list-style: none;
    margin-left: 10px;
    color: #fff;
    line-height: 30px;
}
.left-links ul li a{
    color: #fff;
    text-decoration: none;
}
.social-links{
    width: 30%;
    float: right;
    height: 100%;
    text-align: right;
}
.social-links i{
    color: #fff;
    line-height: 30px;
    border-right: 2px solid #000;
    padding-right: 8px;
}
/* row-1 CSS is end */

/* row-2 CSS is start */
#row2{
    height: 80px;
    width: 100%;
    background: #fff;
}
.header_section{
    width: 90%;
    margin: 0 auto;
}
.logo{
    width: 30%;
    float: left;
}
.logo img{
    height: 60px;
    margin-top: 10px;
}
.menu{
    width: 65%;
    float: right;
}
.menu ul{}
.menu ul li{
    float: left;
    line-height: 80px;
    width: 106px;
    text-align: center;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #455964;
}
/* row-2 CSS is end */

/* row-3 CSS is start */
#row3{
    height: 600px;
    width: 100%;
    background: url(../image/banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: round;

}
.banner_section{
     text-align: center;
    color: #fff;

}
.banner_section h1{
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 250px;
    padding-bottom: 10px;

}
.banner_section p{
    font-size: 16px;
    text-transform: capitalize;
}
/* row-3 CSS is end */

/* row-4 css is start */
#row4{
    height: 400px;
    width: 100%;
    background: #fff;
}
.wedo_section{
    width: 65%;
    margin: 0 auto;
    height: 100%;
}
.wedo_title{
     text-align: center;
     padding: 30px 0px;
     font-size: 30px;
     text-transform: uppercase;

}
.wedo_title h1{}
.wedo_item_all{
    padding: 50px 0px;
}
.wedo_item{
    width: 29%;
    float: left;
    text-align: center;
    margin-left: 30px;
}
.wedo_item i{
    font-size: 33px;
    padding-bottom: 20px;
    color: green;
}
.wedo_item h2{
 font-size: 27px;
    padding-bottom: 25px;
}
.wedo_item p{
    text-align: justify;
}

/* row-4 css is end */

/* row-5 css is start */
#row5{
    height: 630px;
    width: 100%;
    background: #fff;
}
.project_section{
    width: 65%;
    margin: 0 auto;
    height: 100%;
    padding: 50px 0px;
}
.project_title{}
.project_title h2{
    font-size: 30px;
    text-align: center;
    padding: 30px 0px;
    text-transform: uppercase;
}
.project_item_all{

}
.project_item{
    width: 29%;
    float: left;
    margin-left: 30px;
}
.project_item img{
    width: 100%;
    height: 200px;
}
.project_item h2{}
.project_item p{
    text-align: justify;
}

/* row-5 css is end */

/* row-6 css is start */
#row6{
    height: 450px;
    width: 100%;
    background: url(../image/background.jpeg);
    background-size: cover;
    background-repeat: round;
    position: relative;
}
.overlay{
    height: 100%;
    width: 100%;
    background: rgba(238, 147, 92, 0.6);
    position: absolute;
}  
.youget_section{
    width: 65%;
    margin: 0 auto;
    height: 100%;
}
.youget_title{
    text-align: center;
    padding: 30px 0px;
    font-size: 30px;
    text-transform: uppercase;
}
.youget_title h2{
    padding-top: 30px;
    color: #fff;
}
.youget_item_all{
    padding: 50px 0px;
   
}
.youget_item{
    width: 29%; 
    float: left;
    text-align: center;
    margin-left: 30px;
    color: rgb(0, 0, 0);
}
.youget_item i{
    font-size: 33px;
    padding-bottom: 10px;
    border: solid 2px #fff;
    height: 75%;
    width: 58px;
    border-radius: 100%;
    line-height: 35px;
    color: black;
    background: white;
}
.youget_item h4{
    color: #fff;
}
.youget_item p{
    color: #f6f3f3;
    text-align: justify;
}

/* row-6 css is end */

/* ROW-7 CSS IS Start */
#row7{
    height: 630px;
    width: 100%;
    background: #fff;
}
.customer_section{
    width: 65%;
    margin: 0 auto;
    height: 100%;
    padding: 50px 0px;

}
.customer_title{}
.customer_title h2{
    text-align: center;
    padding: 30px 0px;
    font-size: 30px;
    text-transform: uppercase;
}
.customer_item_all{}
.customer_item{
    width: 20%;
    float: left;
    margin-left: 30px;
}
.customer_item img{
    width: 100%;
    height: 134px;
}
.customer_item p{
    text-align: justify;
}
.customer_item h4{}

/* ROW-7 CSS IS end */
